.contact-section h6 {
	font-size: 20px;
	font-weight: 700;
}

h4 {
	font-size: 35px;
}

.container {
	max-width: 90vw;
}

@media (min-width: 992px) { 
	.lg-full-width {
		width: 100%;
	}

	#technology div.featured-text {
		padding-right: 5rem;
	}
}