.contact-section h6 {
	font-size: 20px;
	font-weight: 700;
}

h4 {
	font-size: 35px;
}

.container {
	max-width: 90vw;
}

@media (min-width: 992px) { 
	.lg-full-width {
		width: 100%;
	}

	#technology div.featured-text {
		padding-right: 5rem;
	}
}

#carousel-products-solutions p {
	border: none;
	margin: 0px;
	padding: 0px;
	width: 100%;
}

/* Linette */
#mainNav .navbar-brand .hamburger-icon {
	width: 1.35vw;
	left: 93vw;
}		

.masthead {
	background: transparent;
}

.vision-section {
	background: #0a0a0b;
	background-image: url(../img/348.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
.vision {
    background-color:rgba(10, 10, 10, 0.6);
    min-height: 250px;
    display: block;
    height: 25vw;
    min-height: 250px;   
}

.vision-two {
    background-color: rgba(29, 28, 33, 0.6);  
    min-height: 250px;
    display: block;
    height: inherit;
    min-height: 250px;    
}

.scroll-button {
	bottom: -12vh;
}

.vision-section img {
    width: 3.85vw;
    min-width: 50px;
}

.vision-section p {
    font-size: 16px;
    margin-bottom: 5rem;
    font-weight: 300;
    line-height: 22px;
}

.vision img {
    display: none;
    opacity: 0;
    margin-top: 18vw;
    margin-left: 10%;
}

.vision-two.inner-text  {
    position: absolute;
    display: block;
    top: 20%;
}

.vision .img-two {
    display: none;
    opacity: 0;
    margin-left: 2%;
    margin-top: 8vw;
}

.vision h2 {
    width: 80%;
    text-align: left;
    margin-top: 0;
    margin-left: 10%;
    font-size: 20px;
    display: block;
    position: relative;
    top: -20px;
}

.vision .show-up {
    display: none;
    opacity: 0;
}

.vision .show-up {
    display: block;
    position: relative;
    opacity: 1;
    padding-bottom: 2rem;
}

.vision .show-up p {
    width: 100%;
}

.vision .show-up p {
    font-family: "GT America Extended";
    font-weight: 300;
    text-align: left;
    margin-bottom: 0;
    font-size: 19px;
    width: 80%;
    margin: auto;
}
.vision-two:first-child .show-up p {
    font-family: "GT America Extended";
    font-weight: 300;
    text-align: left;
    margin-bottom: 0;
    font-size: 19px;
    width: 80%;
    margin: auto;
}

.vision-two img {
    display: none;
    opacity: 0;
    margin-left: 10%;
    margin-top: 10vw;
}

.vision-two .img-two {
    display: none;
    opacity: 0;
    margin-top: 26vw;
    margin-top: 26%;
    margin-left: 10.5%;
}

.vision-two h2 {
    width: 80%;
    text-align: left;
    margin-left: 10%;
    margin-top: 0;
    font-size: 20px;
    display: block;
    position: relative;
    top: -20px;
}

.vision-two .show-up {
    display: block;
    position: relative;
    opacity: 1;
    padding-bottom: 2rem;
}

.vision-two .show-up p {
    font-family: "GT America Extended";
    font-weight: 300;
    text-align: left;
    margin-bottom: 0;
    font-size: 19px;
    width: 80%;
    margin: auto;
}

.vision .inner-text {
    position: relative;
    display: block;
    top: 0;
    width: 80%;
    margin-left: 10%;
    height: 100%;
    margin-top: 3.2rem;
}

.vision-two .inner-text {
    position: relative;
    display: block;
    top: 0;
    width: 80%;
    margin-left: 10%;
    height: 100%;
    margin-top: 3.2rem;
}

.vision-two .inner-text {
    margin-top: 3.2rem;
}

#mainNav .navbar-collapse {
    width: 100%;
    height: 100vh;
    position: relative;
    top: -1vh;
    right: -8vw;
}

.navbar-expand-lg .navbar-nav {
    position: fixed;
    left: 73.5vw;
    height: 80vh;
    margin: auto;
    width: 21vw;
    flex-direction: column;
    transform: translateX(200%);
}

.navbar-expand-lg .navbar-nav li:first-child {
    margin-top: 4%;
}

@media (min-width:992px) {
    .vision img {
        width: 15%;
        display: block;
        position: absolute;
        top: -10%;
        left: 8%;
        opacity: 1;
    }
    .vision .img-two {
        width: 10%;
        display: block;
        position: absolute;
        top: 0;
        opacity: 1;
    }
    
    /* vision two hover */
    
    .vision-two img {
        width: 10%;
        display: block;
        position: absolute;
        top: 0;
        opacity: 1;
        margin-left: 18%;
        margin-top: 13vw;
    }
    
    .vision-two .img-two {
        width: 7.5%;
        display: block;
        position: absolute;
        top: 0;
        opacity: 1;
    }

    .vision .inner-text {
        margin-top: 0;
        position: relative;
        display: block;
        top: 25%;
    }

    .vision-two .inner-text {
        margin-top: 0;
        position: relative;
        display: block;
        top: 25%;
    }
    
    .vision-two .inner-text {
        margin-top: 0;
	}

	#mainNav .nav-link {
		padding: 1vh 0;
	}

	#mainNav .nav-link:hover {
		color: rgba(255, 255, 255, .35);
	}
}

.read-more-btn {
    color: rgba(255, 255, 255, 0.55);
    text-decoration: underline;
}
